@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --light: #e6ddde;
  --light-green: #7d994d;
  --dark-orange: #6c4136;
  --dark-green: #40542f;
  --dark: rgba(0, 0, 0, 0.6);
}

hmtl {
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

h2 {
  color: var(--dark);
  line-height: 1.5em;
  font-size: 40px;
  margin: 0;
  font-weight: 300;
}

h5 {
  font-size: 2rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.7);
  padding: 56px 24px 0;
  text-align: center;
}

/* //////////// HERO SECTION //////////// */
.hero-section {
  background: var(--light-green) !important;
  padding-left: 100px;
}
.navbar {
  background: none;
  position: fixed;
}
.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar li {
  padding-right: 36px;
}

.navbar a {
  color: var(--dark);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--dark-green);
  transition: all 0.2s ease-in-out;
}
.flexbox {
  display: flex;
}
.hero-left-container {
  flex-basis: 100%;
}

.hero-text {
  padding: 10% 0 0;
}
.hero-image-container {
  flex-basis: 50%;
}

.hero-image__small-screen {
  display: none;
}
.hero-section .buttons {
  margin-top: 10%;
}
.hero-section button {
  background: var(--dark-green);
  border-radius: 24px;
  margin-right: 12px;
  border: none;
  padding: 1.5% 30px;
}
.hero-section button a {
  color: white;
  text-decoration: none;
}

.hero-section button a:hover {
  color: var(--light);
}
.hero-section h1 {
  color: white;
  font-size: 5rem;
  letter-spacing: -0.03em;
  margin-left: -4px;
}

.hero-section h3 {
  color: white;
  opacity: 70%;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

/* /////////////PORTFOLIO/////////////// */

.portfolio h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

.portfolio h6 {
  text-align: center;
  font-size: 1rem;
  margin: 2px auto;
}

.portfolio p {
  text-align: block;
}

/* /////////////////ABOUT///////////////// */
.about-me-section {
  margin-top: 56px;
}
.about-me {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(125, 153, 77) 0.1%,
    rgb(183, 219, 87) 180%
  );
  color: var(--dark);
  max-width: 60%;
  margin: 0 auto;
  border-radius: 30px;
}

.about-me p {
  padding: 32px;
}

/* ////////////GET IN TOUCH/////////////// */

.get-in-touch footer {
  background: var(--light-green) !important;
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
}
footer a {
  color: var(--dark-green);
  text-decoration: none;
  font-size: 20px;
}
footer a:hover {
  color: var(--dark);
  transition: all 0.3s ease-in-out;
}

footer .icons a {
  margin-top: 10px;
  font-size: 24px;
  padding: 0 10px;
}
footer h6 {
  margin-top: 10px;
  font-size: 14px;
}
footer h6 a {
  font-size: 14px;
  color: var(--dark-green);
}

@media (max-width: 1000px) {
  h1 {
    font-size: 4rem !important;
  }
  h3 {
    font-size: 1rem !important;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 3rem !important;
  }
  .hero-section .buttons {
    margin-top: 7%;
  }
  .about-me {
    max-width: 80%;
  }
  .btn-styling {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 700px) {
  h1 {
    margin-top: 5%;
  }
  .hero-section .btn-styling {
    font-size: 1rem;
  }
  .hero-section h2 {
    display: none !important;
  }
  .hero-left-container {
    flex-basis: 80%;
  }
}

@media (max-width: 650px) {
  .hero-section {
    padding-left: 50px;
  }
  h1 {
    font-size: 2rem !important;
  }
}
@media (max-width: 555px) {
  .flexbox {
    display: block;
  }

  .hero-image__big-screen {
    display: none;
    max-height: 300px;
  }
  .hero-image__small-screen {
    display: block;
  }

  .hero-section {
    text-align: center;
    padding-left: 0;
  }

  .hero-text {
    padding: 50px 0 !important;
  }

  .navbar {
    margin-left: 10px;
  }
  .navbar li {
    margin-right: 0 !important;
  }

  .about-me {
    max-width: 100%;
  }
}
