:root {
  --primary-color: #e6ddde;
  --secondary-color: #000;
  --third-color: #490b3d;
  --fourth-color: #89586b;
}

body {
  font-family: "Libre Baskerville", serif;
}

/* .menu {
  padding-top: 15px;
  background: white;
}
.menu h4 a {
  color: var(--fourth-color) !important;
}

nav li {
  display: inline;
  line-height: 2;
  padding: 0 10px;
}
nav li a:hover {
  color: var(--third-color);
  font-weight: bold;
}
ul {
  margin: 0;
}
li.active a {
  color: var(--third-color);
} */
.hero {
  margin: 100px auto;
}
h1 {
  color: var(--third-color);
  font-size: 64px;
}
h2 {
  color: #444;
  font-size: 40px;
  margin-bottom: 15px;
}
h3 {
  color: var(--secondary-color);
  font-size: 25px;
}

.colour-image-container img {
  max-width: 350px;
  height: auto;
  border-radius: 4%;
  display: block;
  margin: 0 auto;
}
h5,
h5 a {
  font-size: 18px;
  text-align: center;
  line-height: 1.4;
  text-decoration: none;
}
h5.home {
  margin: -50px;
}
h5 a:hover {
  color: var(--third-color);
  opacity: 100%;
}
h6 {
  color: var(--third-color);
  font-size: 24px;
  margin-top: -12px;
  margin-left: 2px;
}
.btn-styling {
  background: var(--third-color);
  color: white;
  padding: 14px 25px;
  border-radius: 50px;
  text-decoration: none;
}
.hero div.button {
  margin-top: 100px;
}
div.button a:hover {
  color: var(--primary-color);
}
.projects {
  margin-top: 60px;
}
.projects p {
  color: var(--secondary-color);
  padding: 30px 50px 40px 0;
  line-height: 1.4;
}
.projects .btn-styling {
  background: var(--third-color);
  color: white;
  padding: 14px 25px;
  border-radius: 50px;
  text-decoration: none;
}
.projects .weather-app-image {
  border-radius: 30px;
}
.projects div.memory-game-image-container img {
  max-width: 350px;
  display: block;
  margin: 30px auto;
  border-radius: 6px;
}
.about h1,
.portfolio h1,
.contact h1,
.about img {
  margin-top: 100px;
}

.about p {
  padding: 20px 0 40px;
  font-size: 14px;
}
footer {
  text-align: center;
  background: white;
  margin-top: 50px;
  padding-bottom: 20px;
}
footer a {
  color: var(--fourth-color);
  text-decoration: none;
  font-size: 20px;
}
footer a:hover {
  color: var(--third-color);
}
footer h2 {
  margin: 5px;
}
footer .icons a {
  font-size: 24px;
  padding: 0 10px;
}
footer h5 {
  margin-top: 10px;
  font-size: 14px;
}
footer h5 a {
  font-size: 14px;
  color: var(--fourth-color);
}
.portfolio h1 {
  margin-bottom: 50px;
}

.contact h5 {
  padding-top: 60px;
  font-size: 15px;
}

@media (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div.button {
    text-align: center !important;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .hero {
    margin-top: 120px;
  }
  h3 {
    margin-top: 20px;
  }
  .hero div.button {
    margin-top: 50px;
  }
  .projects h2 {
    font-size: 32px !important;
  }
  h6 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .projects p {
    padding: 0 0 30px;
  }
  .projects div.button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .projects div.memory-game-image-container img {
    max-width: 250px;
  }
  .email {
    font-size: 20px;
  }
}
